<template>
    <section class="section">
        <div class="clients">
            <div v-for="client in clients" :key="client.slug"> 
                <router-link :to="client.slug">{{ client.name }}</router-link>
            </div>
        </div>
    </section>
</template>

<script>
import clients from "@/data/clients.json";

export default {
  name: "clients",
  data() {
    return {
      clients: []
    }
  },
  created() {
    this.clients = Object.entries(clients).map(([key, value]) => {
        return value
    })
  }
};
</script>
