<template>
  <section class="section">
    <div class="client">
      <a :href="client.url" target="_blank"><h1 class="title is-4">{{ client.name }}</h1></a><br>
      <input v-model="search" placeholder="Keyword" @keyup.enter="rankings"><button @click="rankings" class="button">Search</button>
      <div v-if="results" v-for="(result,i) in results" :key="result[i]">
        {{ result.rank }} - {{ result.name }} - {{ result.url }}
      </div>
      <!-- <div class="columns">
        <div v-for="term in client.terms" class="term column is-2" :key="term.phrase">
          <h3 class="title is-5">{{ term.phrase }}</h3>
          <div v-for="(search,i) in term.search" :key="search[i]">
            {{ search }}
          </div>
        </div>
      </div> -->
    </div>
  </section>
</template>

<script>
import clients from "@/data/clients.json";

export default {
  name: "Client",
  data() { 
    return  {
      client: clients[this.$route.params.slug],
      search: '',
      results: [],
      errors: [],
      matches: [],
      list: []
    }
  },
  created() {
    
  },
  methods: {
    async rankings() {
      try {
          const response = await this.axios.post(`http://localhost:8081`, {
            search: this.search
          })
          this.results = response.data
          this.results.filter(item => {
            return item.name.includes(this.client.name)
          }).map(item => {
            item.search = this.search
            this.matches.push(item)
          })
          this.search = ''
      } catch (e) {
          this.errors.push(e)
          console.log(this.errors)
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.term{
  background-color: #f3f3f3;
  margin: 0 1rem;
  border: 1px solid;
  h3{
    text-transform: capitalize;
    margin-bottom: .5rem;
  }
} 
.client{
  .columns{
    justify-content: center;
  }
  &> a{
    display: inline-block;
    padding: .5rem;
    background-color: #000;
    margin-bottom: 2rem;
  }
  h1{
    color: #fff;
  }
}
</style>
