<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/clients/">Clients</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
  #app{
    text-align: center;
    font-family: 'apercu-light';
  }
  #nav{
    margin: 1rem;
  }
  a{
    font-family: 'apercu';
    color: #000;
  }
  .title{
    font-family: 'montserrat-bold';
  }
  
</style>
